table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    border-radius: 10px;
    align-content: center;
    align-items: center;
    padding: 5%;

}

th, td {
    background-color: #96d4d4;
}